{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="align-center">The Crossroads Edition</div>

    <!-- <p>Current Environment: {{ environment }}</p> -->
    


    {% if user.is_authenticated %}
        Logged in <p>Hello {{ user.first_name }}!</p>
        <!-- <form method="post" action="{% url 'cognito_logout' %}">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form> -->
        <a href="{% url 'cognito_logout' %}" class="action-button"><div>Log Out</div></a>
    {% else %}
        <div><br><img src="{% static 'images/crossroads_logo.png' %}" alt="Crossroads Logo" class="full-width-img"></div>
        
        <div class="align-center font-h3">
            <br>Welcome to Foodie Finder, the ultimate app for every food lover with specific dietary needs!
        </div>
        <a href="{% url 'cognito_signup' %}" class="action-button"><div>Get Started</div></a>
        <div class="align-center"><a href="{% url 'cognito_login' %}" class="font-h3">Log in</a></div>
        <div><br><img src="{% static 'images/crossroads.jpg' %}" alt="Crossroads Logo" class="full-width-img"></div>
        <div class="text-box-background">
            Whether you're vegan, gluten-free, keto, or just looking for something new and delicious,
            Foodie Finder has got you covered. With a few taps, discover restaurants and dishes that 
            perfectly match your dietary preferences, and say goodbye to endless menu scrolling and 
            ingredient guessing. Best of all, it's completely free! Join the Foodie Finder community 
            today and start your culinary adventure with ease and confidence. Your perfect meal is 
            just a tap away!
        </div>
    {% endif %}
{% endblock %}