[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
boto3 = "*"
django-cognito-jwt = "*"
psycopg2-binary = "*"
django-storages = {extras = ["s3"], version = "*"}

[dev-packages]

[requires]
python_version = "3.12.3"
