{% extends 'base.html' %}

{% block content %}
{% if error %}
    <div class="alert alert-danger">
        <h2>{{ error }}</h2>
    </div>
{% endif %}

<div class="login-form">
    <div>
        <form method="POST" id="frmLogin">
        {% csrf_token %}
        
        {% for field in form %}
            <div id="floatContainer_{{field.id_for_label}}" class="float-container"><br>{% comment %} {{field.errors}}{% endcomment %}</div>
            <div class="field-name">{{field.label_tag}}</div> 
            <div class="field-value">{{field}}</div>
            
        {% endfor %}
        

            <div class="login-button"><br><button type="submit" id="btnLogin">Login</button></div>
            <div class="align-center margin-top"><a href="{% url 'password_reset' %}">Forgot Password</a></div>
            <p>Don't have an account? <a href="{% url 'sign_up' %}">Sign up here</a>.</p>
        
        </form>
    </div>
</div>

{% endblock %}


    