{% extends 'base.html' %}

{% block content %}

{% if validlink %}

<div class="login-form">
  <div>
    <h1>Set a new password!</h1>
    <form method="POST">
      {% csrf_token %}
      
      {% for field in form %}
        <div id="floatContainer_{{field.id_for_label}}" class="float-container">
        {{field.label_tag}}
        {{field}}
          {% if field.id_for_label == 'id_new_password1' %}
            <div class="small-font">{{field.help_text}}</div>
          {% endif %}
        </div>
        {% if field.errors %}<div class="alert alert-danger">{{ field.errors }}</div>{% endif %}
      {% endfor %}

      <div class="login-button"><button type="submit" id="btnReset">Change My Password</button></div>
    </form>
  </div>
</div>
{% else %}

<div class="alert alert-danger">
<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0px 10px 0px 0px;"></span> This password reset link is no longer valid.</p>
</div>
<div class="align-center margin-top"><a href="{% url 'password_reset' %}">Request another reset password link</a></div>

{% endif %}
{% endblock %}