{% extends 'base.html' %}

{% block content %}
  <div class="login-form">
  <div>
    <h1>Forgot your password?</h1>
    <p>Enter your email address to reset your password.</p>

    <form method="POST">
      {% csrf_token %}

      {% for field in form %}
      <div id="floatContainer_{{field.id_for_label}}" class="float-container">

        {{field.label_tag}} 
        {{field}}
        {% if field.errors %}<div class="alert alert-danger">{{ field.errors }}</div>{% endif %}
      </div>
      {% endfor %}
      <div class="login-button"><button type="submit" id="btnReset">Email Reset Password Link</button></div>
      <div class="align-center margin-top"><a href="{% url 'log_in_user' %}">Back to Login</a></div>
    </form>
  </div>
</div>
{% endblock %}