{% extends "base.html" %}
{% block content %}

<div class="login-form">
  <div>
    <h1>Change your password</h1>
    {% comment %} <p>Enter your email address to reset your password.</p> {% endcomment %}

    <form method="POST">
      {% csrf_token %}

      {% for field in form %}
      <div id="floatContainer_{{field.id_for_label}}" class="float-container">

        {{field.label_tag}} 
        {{field}}
        {% if field.id_for_label == 'id_new_password1' %}
            <div class="small-font">{{field.help_text}}</div>
        {% endif %}
        
      </div>
      {% if field.errors %}<div class="alert alert-danger">{{ field.errors }}</div>{% endif %}
      {% endfor %}
      <div class="login-button"><button type="submit" id="btnSave">Save Password</button></div>
      <div class="align-center margin-top"><a href="{% url 'account:account' %}">Back to Account</a></div>
    </form>
  </div>
</div>


{% comment %} <div class='row'>
    <div class='col-md-4 col-10  mx-auto'>
    <h1>Change your Password</h1>
        <form method='post' action=''>{% csrf_token %}
           {{ form.as_p }}
        <span style='margin-bottom: 12px;'></span>
        <button type="submit" class='btn btn-block btn-info'>Save</button>
        </form>
      </div>
</div> {% endcomment %}
{% endblock %}
