body {
    margin: 0;
    font-family: "Wix Madefor Display", sans-serif;
    font-optical-sizing: auto;
    color: #fff;
    /* font-weight: 400; */
    font-style: normal;
    font-size: 1.2rem;
    /* Center content and set background color for outside of the content */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
}

button {
    all: unset;
    cursor: pointer;
}

input {
    font-size: 1.3rem;
    width: 100%;
}


.font-h1, .font-h2, .font-h3 {
    font-family: "Wix Madefor Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 2rem;
  }
  .font-h2 {
      font-size: 1.5rem;
  }
  .font-h3 {
      font-size: 1.2rem;
  }

  a {
    color: var(--secondary-color);
  }
  a:hover {
    color: var(--primary-color);
  }

/* Force website to be in the center like a mobile phone app */
.mobile_app_container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    max-width: 500px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* ===================================== */
/* ============ LAYOUT STYLES ========== */
/* ===================================== */
.logo {
    background: #fff;
    /* color: #fff; */
    text-align: center;
    /* padding: 5px 0; */
}
img#logo {
    width: 100%;
    max-height: 100px;
}

.search-bar-container {
    background: #444;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.search-bar {
    width: 100%;
}

.search-bar input {
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 3px;
}

.content {
    padding: 20px;
    min-height: 80vh;
    /*height: 2000px;  Just for testing sticky header footer */
}

.footer {
    position: fixed;
    bottom: 0;
    max-width: 500px;
    width: 100%;
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    z-index: 1000;
}

/* ===================================== */
/* =========== GENERAL STYLES ======== */
/* ===================================== */

.align-center {
    text-align: center;
}



/* ===================================== */
/* =========== COMPONENT STYLES ======== */
/* ===================================== */

.full-width-img {
    width: 100%;
    height: auto;
}

.home-ad-content {
    padding: 20px;
    min-height: 80vh;
    background: rgb(89,132,153);
    background: linear-gradient(180deg, rgba(89,132,153,1) 0%, rgba(62,94,110,1) 35%, rgba(32,59,73,1) 100%);
}

a.action-button, button {
    text-decoration: none;
    font-size: 1.5rem;
}
.action-button > div, button {
    background-color: var(--secondary-color);
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    color: white;
    margin: 20px 0px;
    font-weight: 600;
}
.action-button > div:hover, button:hover {
    background-color: var(--primary-color);
}

.text-box-background {
    background-color:var(--text-box-bg-color);
    border-radius: 20px;
    padding: 20px;
    font-size: 1.2rem;
    color: var(--primary-color);
    margin: 20px 0px;
}

.field-name {
    margin-top: 20px;
}