body {
    margin: 0;
    font-family: "Wix Madefor Display", sans-serif;
    font-optical-sizing: auto;
    color: #fff;
    /* font-weight: 400; */
    font-style: normal;
    font-size: 1.2rem;
    /* Center content and set background color for outside of the content */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
}

button {
    all: unset;
    cursor: pointer;
}

input {
    font-size: 1.3rem;
    width: 100%;
}


h1, h2, h3 {
    font-family: "Wix Madefor Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 2rem;
    margin: 0;
    margin-bottom: 20px;
  }
  h2 {
      font-size: 1.5rem;
  }
  h3 {
      font-size: 1.2rem;
  }

  a {
    color: var(--secondary-color);
  }
  a:hover {
    color: var(--primary-color);
  }

/* Force website to be in the center like a mobile phone app */
.mobile_app_container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    max-width: 500px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* ===================================== */
/* ============ LAYOUT STYLES ========== */
/* ===================================== */
.logo {
    background: #fff;
    /* color: #fff; */
    text-align: center;
    /* padding: 5px 0; */
}
img#logo {
    width: 100%;
    max-height: 100px;
}

.search-bar-container {
    background: #444;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.search-bar {
    width: 100%;
}

.search-bar input {
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 3px;
}

.content {
    padding: 20px;
    min-height: 80vh;
    /*height: 2000px;  Just for testing sticky header footer */
}

.footer {
    position: fixed;
    bottom: 0;
    max-width: 500px;
    width: 100%;
    background: var(--footer-color);
    color: #fff;
    text-align: center;
    /* padding: 0 0; */
    z-index: 1000;
}

/* ===================================== */
/* =========== GENERAL STYLES ======== */
/* ===================================== */

.align-center {
    text-align: center;
}



/* ===================================== */
/* =========== COMPONENT STYLES ======== */
/* ===================================== */

.full-width-img {
    width: 100%;
    height: auto;
}

.home-ad-content {
    padding: 20px;
    min-height: 80vh;
    background: rgb(89,132,153);
    background: linear-gradient(180deg, rgba(89,132,153,1) 0%, rgba(62,94,110,1) 35%, rgba(32,59,73,1) 100%);
}

a.action-button, button {
    text-decoration: none;
    font-size: 1.5rem;
}
.action-button > div, button {
    background-color: var(--secondary-color);
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    color: white;
    margin: 20px 0px;
    font-weight: 600;
}
.action-button > div:hover, button:hover {
    background-color: var(--primary-color);
}

.text-box-background {
    background-color:var(--text-box-bg-color);
    border-radius: 20px;
    padding: 20px;
    font-size: 1.2rem;
    color: var(--primary-color);
    margin: 20px 0px;
}

.field-name {
    margin-top: 20px;
}

/* ===================================== */
/* =========== SVG STYLES ============== */
/* ===================================== */

.svg-search-icon, .svg-profile-icon, .svg-favorites-icon {
    width: 50px;
    height: 50px;
    transition: fill 0.3s ease;
}

.svg-search-icon:hover .svg-fill, .svg-profile-icon:hover .svg-fill, .svg-favorites-icon:hover .svg-fill {
    fill: var(--tertiary-color);
}

.svg-search-icon.selected .svg-fill, .svg-profile-icon.selected .svg-fill, .svg-favorites-icon.selected .svg-fill {
    fill: var(--secondary-color);
}

.grid-container-footer-menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100px;
}

.grid-footer-menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #ccc; */
}


.card {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    gap: 10px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    /* border: 1px solid green; */
}

.card-title {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin: 0;
    font-size: 1.5em;
    font-weight: bold;
    color: var(--primary-color);
}

.card-description {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin: 0;
    color: #555;
}

.card-image {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    width: 150px;
    height: auto;
    border-radius: 8px;
}


.pos-relative {
    position: relative;
    width: 100%;
}
.pos-absolute {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.user-display {
    top: -30px;
    z-index: 5000;
    color: var(--secondary-color)
}



.card-allergy, .card-allergy-selected {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr; /* Single row */
    align-items: center;
    gap: 10px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
    /* border: 1px solid green; */
}

.card-allergy-selected {
    background-color: var(--footer-color);
    
}
.card-allergy-selected .card-title-allergy {
    color: var(--secondary-color);
}

.card-title-allergy {
    margin: 0;
    font-size: 1.2em;
    font-weight: bold;
    color: var(--primary-color); 
}


.card-image-allergy {
    width: 50px;
    height: auto;
    border-radius: 8px;
}


.icon-allergy {
    width: 50px;
}

.pos-relative-allergy {
    position: relative;
}
.pos-absolute-allergy {
    position: absolute;
    top: -30px;
    left: 20px;
}