:root {
    --primary-color: #c84c1f;
    --secondary-color: #f59519;
    --tertiary-color: #3e5e6e;
    --text-box-bg-color: #cddbe0;
    --footer-color: #333;
}

.alert {
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}
.alert-danger {
    background-color: #c84c1f;
    color: white;

}